{% block content %}
<div class="navbar" style="background-color: #333; padding: 10px;">
    <a href="{% url 'students:home' %}"
        style="color: #fff; text-decoration: none; font-weight: bold; font-size: 18px;">Home</a>
</div>

<div id="contentwrapper">
    <div id="content">
        <div class="form-wrapper">
            <form method="post" action="{% url 'students:changeUsername' url %}">
                {% csrf_token %}
                <!-- Username change form fields here -->
                <input class="textarea-input" type="text" name="new_username" placeholder="New Username">
                <button class="btn" type="submit">Change Username</button>
            </form>

            <form method="post" action="{% url 'students:changePassword' url %}">
                {% csrf_token %}
                <input class="textarea-input" type="password" name="old_password" placeholder="Old Password">
                <input class="textarea-input" type="password" name="new_password1" placeholder="New Password">
                <input class="textarea-input" type="password" name="new_password2" placeholder="Confirm New Password">
                <button class="btn" type="submit">Change Password</button>
            </form>
        </div>
        {% if messages %}

        {% for message in messages %}
        {{message}}
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}